# S3 Backend
terraform {
  backend "s3" {
    encrypt        = true
    bucket         = "tfstate-template"
    key            = "terraform/vpc/terraform.tfstate"
    dynamodb_table = "template-default-vpc"
    region         = "us-east-1"
    profile        = "template"
  }
}
